<div class="row">
        <div *ngFor='let techdetail of techdetails;let i = index' class="col-6">
            <img src="../assets/img/{{techdetail.imagePath}}" class="img-fluid" alt="Responsive image">
           
            <h3>{{techdetail.name}}</h3>
            <p>{{techdetail.description}}</p>
        </div>
        <div *ngIf="errorMessage" class="alert alert-warning">
                <strong>Ooops...</strong> It seems like the server is out riding fresh powder. Please try again later.
           </div>
</div>