<!-- Footer -->
<footer class="page-footer font-small grey lighten-5">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

        <div class="col-md-6 py-5">
          <h3 class="footer-header">The Boardfinder App</h3>
          <p class="footer-header">Try the Boardfinder to find your new board.</p>
        </div>
      <!-- Grid column -->
      <div class="col-md-6">
        <!--  
        <div class="mb-5"> 
              <h3>Follow Burton Snowboards</h3>
          </div>
        --> 
        <div class="mb-5 flex-center">
            
          <!-- Facebook -->
          <button >
            <a href="https://www.facebook.com/BurtonEurope"><i  class="fab fa-facebook-f"></i></a>
          </button>
          <!-- Twitter -->
          <button >
            <a href="https://twitter.com/BurtonEurope"><i class="fab fa-twitter"></i></a>
          </button>
          <!-- Youtube -->
          <button >
            <a href="https://www.youtube.com/user/BurtonEurope"><i class="fab fa-youtube"></i></a>
          </button>
          <!--Instagram-->
          <button >
            <a href="https://www.instagram.com/burtoneurope/"><i class="fab fa-instagram"></i></a>
          </button>
          <!--Pinterest-->
          <button >
            <a href="https://www.pinterest.se/burton/"><i class="fab fa-pinterest"></i></a>
          </button>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019:
    <a href="https://https://www.linkedin.com/in/erikaneer/"> Erik Aneer</a>, All board photos and board info used without persmission from Burton Snowboards.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->