<div class="card cardcontainer my-5">
    <div class="card-body">
      <form #f="ngForm" (submit)="saveShoeSize(f)" novalidate >
        <br>
      <h1 class="text-center">
        What is your shoe size?
      </h1>

      <br>
      <br>
      <br>
      <br>
      <select  [(ngModel)] = "selectedSize" name="size" ngModel required>
          <option disabled hidden>-- select your size --</option>
        <option *ngFor="let item of shoesizes" [value]="item.euSize" >Eur {{item.euSize}} </option>

      </select>

      <br>
      <br>
      <!-- weight info modal button  -->
      <a class="modallink" (click)="shoesizeinfoModal.show()" style="color:teal;">Why does shoe size matter?</a>
      <div *ngIf="isSubmitted && f.invalid">
        <br>
  
        <p class="notselectederror">Please select your shoe size!</p>
     </div>
     <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Ooops...</strong> It seems like the server is out riding fresh powder. Please try again later.
   </div>
      
       
          <div class="cardfooter">
          <p>Step 2 / 7</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 28.6%" aria-valuenow="28.6" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <br>
        
        <div class="row justify-content-between">
          <button type="button" routerLink="/weight" class="btn back">Previous </button>
          <button type="submit" class="btn next">Next </button>
        </div>
      </div>
      </form>
      </div>
  </div>

   <!-- shoesizeinfo modal body-->
<div mdbModal #shoesizeinfoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="shoesizeinfoModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        
        <h4 class="modal-title w-100" id="myModalLabel">Shoe size and board width</h4>
      </div>
      <div class="modal-body">
        <p>
          Riding a board with the right waist width for your feet is a great deal!
        </p>     
        <p>Ideally when standing on your snowboard boots should just overshoot the edges a little. This gives a better pressure on the edges when you turn and you will be able to carve nicely.</p>
        <br>
        <p>If the board is too wide and your toes and heel do not reach the edge you will not be able to deliver enough pressure to the edge when riding. This will badly affect your riding.</p>
        <br>
        <p>If the board is too narrow and your toes and heel overshoot the edge much (more than about 1.5 cm) you will likely touch the snow with your toes and heels when carving. 
          This will badly affect your riding as you cannot carve as you should. (you are like to fall when tryoing to carve!) If you are a beginner a little too narrow board might not 
          affect your riding much as beginners do not carve much. Once you get better you should make sure to choose a board with the right waist width for you.</p>
        <br>
        <p>If you prefer to set a greater angle (15 degrees or more) on your bidnings you can go for a little narrower board waist width as your feet will not overshoot the edges as mush as when having set a binding angle close to zero.</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn class="waves-light back" aria-label="Close" (click)="shoesizeinfoModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>